@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.tooltip {
  @apply relative inline-block;
}

.tooltip:hover::after {
  content: attr(data-tip);
  @apply absolute z-10 px-2 py-1 text-xs text-white bg-gray-800 rounded whitespace-nowrap;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
}

.tooltip:hover::before {
  content: "";
  @apply absolute w-0 h-0 border-solid border-transparent border-t-gray-800;
  border-width: 5px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -5px;
}